.nocap {
    color:white;
    padding-top:55px;
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 90%;
    object-fit: cover;
}

img {
    color:aqua;
    position: relative;
    padding-top: 0px;
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    text-align :center;
    color:white;
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered {
    position:absolute;
    top:50%;
    left: 15%;
    transform: translate(-25%,-25%);
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}