.skills {

}

text.background {
    color:white;
    background-color: white;
}

.background{
    width: 350px;
    height: 500px;
    padding-top: 45px;
    left: 10%;
    position: relative;
    fill: rgb(25, 54, 59);
    z-index: 0;
}

.background2{
    width: 350px;
    height: 500px;
    padding-top: 45px;
    left: 50%;
    position: relative;
    fill: rgb(218, 96, 96);
}

.center-top{
    position:absolute;
    top:93vh;
    left: 19vw;
    font-size: 50px;
    z-index: 1;
    color:white!important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}